@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "Playfair Display", serif;
    --main-color: #239b7e;
}

/* Nav Start  */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--main-font);
    font-weight: bold;
}

.logo {
    margin-left: 5rem;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5rem;
}

.burger span {
    border: 2px solid var(--main-color);
    width: 40px;
    height: 1px;
    margin: 2px;
}

/* Nav End  */

/* Header start  */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    margin-top: 2rem;
}

.main-heading {
    font-size: 4rem;
    font-family: var(--main-font);
    transform: translateY(-40px);
    color: #00000097;
    line-height: 5rem;
}

.main-heading span {
    color: black;
}

.primary-heading {
    max-width: 500px;
    font-family: var(--main-font);
    line-height: 25px;
    margin-bottom: 1rem;
    color: #716d6d;
}

.btn-fill {
    background: var(--main-color);
    color: #fff;
    border: none;
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn-fill:hover {
    background-color: #fff;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.btn-outline.active {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    transition: al 0.5s ease-out;
}

.btn-outline.active:hover {
    background: var(--main-color);
    color: #fff;
}

.img-container {
    border-radius: 50%;
    box-shadow: 4px 7px 5px 2px #a5a3a3;
}

.header-img {
    border-radius: 100%;
    background: url(./image/oswaldo-ibanez-1NPUmTaiMeg-unsplash.jpg);
    background-position: top;
    background-size: cover;
    width: 400px;
    height: 400px;
}

/* Header End */

/* Section One Start  */

.section-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

.section-one-img {
    background: url(./image/gesphotoss-1i9K55ni5Dk-unsplash.jpg);
    background-position: top;
    background-size: cover;
}

/* Section One End  */

/* Products Section Start  */

.products {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-heading {
    font-family: var(--main-font);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.product-categories button {
    margin-right: 20px;
    margin-bottom: 2rem;
}

.product-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 60rem;
}

.product-items-container .item {
    margin: 20px;
    margin-right: 3rem;
}

.product-items-container .item-layer {
    background: #ebf1f0;
    padding: 40px;
    margin-right: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.product-items-container .item-layer img {
    width: 150px;
    height: 200px;
}

.product-items-container.item.item-name {
    font-family: var(--main-font);
    margin-bottom: 10px;
}

.product-items-container .item .item-price {
    font-family: var(--main-font);
    margin-bottom: 10px;
}

.product-items-container .item .view-product {
    font-family: var(--main-font);
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

/* Product section end  */

/* cutomer review start  */
.customer-reviews {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.customer {
    text-align: center;
    width: 400px;
}

.customer-heading {
    font-family: var(--main-font);
    font-size: 2rem;
    /* margin-bottom: 15px; */
    text-align: center;
    margin-top: 5rem;
}

.customer-reviews .customer-description {
    font-size: 12px;
    margin-top: 20px;
    max-width: 200px;
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
}

.customer .customer-img .img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.customer .img-one {
    background: url(./image/yogendra-singh-uWs_N5Dlyiw-unsplash.jpg);
}

.customer .img-two {
    background: url(./image/joshua-rondeau-xazIYnxpS2Q-unsplash.jpg);
}

.customer .img-three {
    background: url(./image/milan-popovic-kOnmHdLJTNI-unsplash.jpg);
}

/* cutomer review end  */

/* footer start  */

footer {
    background: #1f1e1e;
    margin-top: 7rem;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: var(--main-font);
    height: 80vh;
}

footer .container .footer-heading {
    margin-bottom: 3rem;
}

footer .container .footer-primary-heading {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

/* footer  end  */

/* Media Query Start  */

@media only screen and (max-width: 900px) {
    header {
        height: 120vh;
        text-align: center;
    }

    .section-one {
        height: 120vh;
        text-align: center;
    }

    .header-img {
        width: 300px;
        height: 300px;
    }

    .main-heading {
        /* font-size: 3rem; */
        margin-top: 3rem;
    }

    .primary-heading {
        width: 400px;
        margin-bottom: 2rem;
    }

    .custommer .customer-img .img {
        width: 150px;
        height: 150px;
    }

    .customer .cutomer-description {
        /* width: 400px; */
        margin-bottom: 2.5rem;
        margin-top: 2rem;
    }

    .customer-heading {
        margin-top: 7rem;
    }

    .product-heading {
        margin-top: 2rem;
    }

    .container {
        padding: 0 15px;
    }

    #first-container {
        border-right: 2px solid rgb(81, 81, 81);
    }
}

@media only screen and (max-width: 414px) {
    #first-container {
        border-right: none;
    }

    footer .container {
        margin-bottom: 2rem;
    }

    .footer-heading {
        border-bottom: 2px solid #323232;
    }

    #first-container {
        margin-top: 3rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-left: 2rem;
    }

    .burger {
        margin-right: 2rem;
    }

    header .main-heading {
        padding: 0 8px;
        margin-top: -3rem;
    }

    header .img-container {
        margin-top: -10rem;
    }

    .primary-heading {
        width: 380px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .section-one {
        margin-top: 0;
    }

    .section-content .main-heading {
        padding: 0 8px;
        margin-top: -10rem;
    }

    .section-one .img-container {
        margin-top: -30px;
    }

    .products {
        margin-top: -20px;
    }

    .product-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .customer-heading {
        margin-top: 3rem;
    }

    .cutomer-description {
        width: 380px;
        margin: 0 auto;
        color: #323232;
    }

    footer {
        height: auto;
        padding: 2rem 0;
        margin-top: 0;
    }
}